
SpaceInvadersSW/.idea/vcs.xml
SpaceInvadersSW/.idea/misc.xml
SpaceInvadersHW/db/SpaceInvaders.db_info
SpaceInvadersHW/db/SpaceInvaders.db_info
SpaceInvadersHW/SpaceInvaders.qws
SpaceInvadersHW/db/SpaceInvaders.tmw_info
SpaceInvadersHW/db/ip/sld25a986d0/alt_sld_fab__report.xml
SpaceInvadersHW/db/ip/sld25a986d0/alt_sld_fab__report.html
SpaceInvadersHW/db/ip/sld25a986d0/alt_sld_fab.sopcinfo
SpaceInvadersSW/USB_PORT.properties
SpaceInvadersSW/Simul.properties
